.hero__body{
    margin: 0 auto;
    max-width: 1520px;
}

.hero__container{
    margin: 0 auto;
    padding: 15px 40px;
    max-width: 1400px;
    margin-top: 208px;
}

.hero__shipping{
    margin-bottom: 80px;
}